.header {
  display: flex;
  height: $size * 48;
  color: $white-color;
  background-color: $base-color;
  // border-bottom: $size * 1 solid $border-color;
  align-items: center;
  // -webkit-app-region: drag;

  .title {
    width: 0;
    padding: 0 15 * $size;
    // font-weight: 700;
    font-size: 16 * $size;
    flex: 1;
  }

  .icon {
    margin: 0 15 * $size;
    cursor: pointer;
    -webkit-app-region: no-drag;

    &:hover {
      color: $red-color;
    }
  }

  .i-minimize {
    font-size: 15 * $size;
  }

  .i-close {
    font-size: 18 * $size;
  }
}