.page {
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: $bg-color;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white-color;
  flex: 1;
}